.Footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-top: 10px;
}

.Footer-icons {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-around;
}

.Footer-icons img {
  height: 30px;
  width: 50px;
}
  