p {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}
.WholeScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  z-index: 1;
  background-color: beige;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}

.WholeScreen  button {
  position: absolute;
  top: 0; 
  right: 0;
  font-size: xx-large;
  position: absolute;
  top: 0; 
  right: 0; 
  padding: 10px;      
}

.StoryHeader{
  position: absolute;
  top: 0; 
  left: 0;
  padding: 10px;  
}

.Circle img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.Circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid red;
  padding: 2px;
  margin-top: auto;
}
.StoriesBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 75px;
  /* height: 100%; */
  /* background-color:white; */
  /* margin:auto; */
  margin: 5px;
  padding:0;
  /* border:solid black; */
}

.StoriesBar {
  display: flex;
  /* flex: 1; */
  /* justify-content: space-around; */
  width: 100vw;
  height: 11vh;
  background-color: whitesmoke;
  overflow: scroll;
  /* flex-wrap: nowrap; */
}
